.devicesView {
  margin: 0;
  padding: 0;
}

.devicesList {
  margin: 0;
  padding: 0;
  overflow-y: auto;
  max-height: 8rem;
}

.devicesList button {
  color: gray;
}

.devicesList button.active {
  color: yellow;
}

.devicesList li button {
  font-size: 1.5rem;
  margin: 1vh;
  padding: 0;
}
