@font-face {
  font-family: 'raleway-light';
  src: url('/resources/fonts/Raleway-Light.ttf');
}

.container {
  font-family: 'raleway-light', 'Arial Narrow', Arial, sans-serif;
  position: absolute;
  top: 0;
  -webkit-user-select: none;
  -webkit-app-region: drag;
  left: 0;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

.overlay * {
  -webkit-app-region: no-drag;
  -webkit-user-select: none;
}

.loginView {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  line-height: 25px;
  margin: auto;
  width: 90%;
  height: 90%;
}

.loginText {
  padding-top: 13vh;
}

.loginView button {
  font-family: 'raleway-light', 'Arial Narrow', Arial, sans-serif;
  border: none;
  color: white;
  background-color: #1db954;
  font-size: 1rem;
  border-radius: 10px;
  padding: 5px;
}

.overlay {
  opacity: 0;
  display: flex;
  justify-content: space-evenly;
  transition: opacity 0.5s;
  background-color: rgb(0, 0, 0, 0.6);
  padding-top: 36vh;
  width: 100%;
  height: 100%;
  text-align: center;
  overflow: hidden;
}

.overlay:hover {
  opacity: 1;
}

.overlay button {
  margin: 4vw;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 17vw;
  transition: opacity 0.5s, color 0.3s;
}

.player button {
  color: white;
  opacity: 0.7;
}

.overlay button:hover {
  opacity: 1;
}

.trackInfo {
  padding-top: 2vh;
  width: 80vw;
  margin: auto;
}

.trackInfo div {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  line-height: 18px;
  font-size: 14px;
}

.trackInfo div:hover {
  text-decoration: underline;
  cursor: pointer;
}

.speakyIcon {
  display: inline-block;
}

.speakyIcon svg {
  fill: #afafaf;
  width: 17vw;
  height: 15vw;
  transition: fill 0.5s;
}

.configButton {
  color: #afafaf;
  opacity: 0.7;
}

.swapConfigButton {
  position: absolute;
  top: 5px;
  right: 5px;
  color: #afafaf;
}

.overlay .swapConfigButton {
  font-size: 9vw;
}

.active {
  color: white;
  opacity: 1;
}

.active svg {
  fill: white;
}
